In [1]:
#House of Pymoli
#there is 1163 players
#989 are men
#174 are female

In [2]:
import pandas as pd

In [3]:
#upload the file
House_data = "HeroesOfPymoli_data.csv"

#read the file
data = pd.read_csv(House_data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
#get the total number of players
total_players = len(data["SN"].value_counts())

# Create a data frame with total players named player count
total = pd.DataFrame({"Total Players":[total_players]})
total

pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [5]:
#get the number of unique items
#activity from Goodreads
unique_items = len(data["Item ID"].unique())
price_mean = data['Price'].mean()
count_purchases = data['Purchase ID'].count()
total_revenue = data['Price'].sum()

In [6]:
summary_df = pd.DataFrame({"Total Unique Items": [unique_items],
                              "Average Price": [price_mean],
                              "Number of Purchases": [count_purchases],
                              "Total Revenue": total_revenue})
summary_df

   Total Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179       3.050987                  780        2379.77

In [7]:
#so Tom helped me to make a copy of the dataset, so I can stay organized with new parts of the questions
demographics= data.copy()
#drop_duplicates means to take out the duplicates between the subsets of the data
#this works because Gender, SN, and Age drops the accurate amount of duplicates because it examines the three rows and drops the error to a minimum
demographics_2 = demographics.drop_duplicates(subset=["Gender", "SN", "Age"])
demographics_2

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [8]:
#total counts for gender demographics
ttc = demographics_2.Gender.value_counts()
ttc

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
#get the percentage and count of Male Players
# Create a group based on the values in the 'maker' column
#Unique_screenname = data["SN"].unique()
#make_groupby = data.groupby('Gender')
# Count how many times each maker appears in our group
#count_males = make_groupby['Gender'].count()
#count_males
#I tried using usong the groupby.. how come when I use groupby I get different numbers?
# The object returned is a "GroupBy" object and cannot be viewed normally...
# In order to be visualized, a data function must be used...
# The object returned is a "GroupBy" object and cannot be viewed normally...
#groupby = data.groupby(['Gender']).nunique()
#print(count_males)

# In order to be visualized, a data function must be used...
#count_males.count()
#This cell DID NOT work because I did not drop the duplicates

In [10]:
#Tom helped me to find the percentages 
dem2 = (demographics_2.Gender.value_counts(normalize = True))
dem2

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [11]:
#merge the frames, watch for commas AND if the list brackets do not work then take them away
summary_df2 = pd.DataFrame({"Total Count": ttc,
                              "Percentage Of Players": dem2})
summary_df2

summary_df2['Percentage Of Players'] = summary_df2['Percentage Of Players'].map('{:,.2%}'.format)
summary_df2
#the below function is a way to do the summary again... Thanks Tom
#pd.DataFrame(ttc).merge(pd.DataFrame(dem2), how="left", left_index= True, right_index= True)

                       Total Count Percentage Of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [12]:
#Purchasing Analysis for gender
Purchase_gender = data.Gender.value_counts()
Purchase_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [13]:
Average_pp = data.groupby('Gender')['Price'].mean()
Average_pp

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [14]:
total_pv = data.groupby('Gender')['Price'].sum()
total_pv

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
average_totalpp = (total_pv/ttc)
average_totalpp

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [16]:
summary_df3 = pd.DataFrame({"Purchase Count": Purchase_gender,
                              "Average Purchase Price": Average_pp,
                              "Total Purchase Value": total_pv,
                              "Avg. Total Purchase per Person": average_totalpp})
summary_df3
summary_df3['Average Purchase Price'] = summary_df3['Average Purchase Price'].map('${:,.2f}'.format)
summary_df3['Total Purchase Value'] = summary_df3['Total Purchase Value'].map('${:,.2f}'.format)
summary_df3['Avg. Total Purchase per Person'] = summary_df3['Avg. Total Purchase per Person'].map('${:,.2f}'.format)


summary_df3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [17]:
#Age Demographics
bins = [0,6,11,16,21,26,31,36,41]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [18]:
data["Age Group"] = pd.cut(data["Age"],bins, labels=group_names)
data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,25-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,25-29
4,4,Iskosia90,23,Male,131,Fury,1.44,25-29
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,10-14
779,779,Ennrian78,24,Male,50,Dawn,4.60,25-29

In [41]:
data = data.groupby("Age Group")
data.max()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [39]:


# Find how many rows fall into each bin
print(data('SN')["Age Group"].count())

TypeError: 'DataFrameGroupBy' object is not callable