In [2]:
#House of Pymoli
#there is 1163 players
#989 are men
#174 are female

In [3]:
import pandas as pd

In [4]:
#upload the file
House_data = "HeroesOfPymoli_data.csv"

#read the file
data = pd.read_csv(House_data)

In [5]:
#get the total number of players
total_players = len(data["SN"].value_counts())

# Create a data frame with total players named player count
total = pd.DataFrame({"Total Players":[total_players]})
total

pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [10]:
#get the number of unique items
#activity from Goodreads
unique_items = len(data["Item ID"].unique())
price_mean = data['Price'].mean()
count_purchases = data['Purchase ID'].count()
total_revenue = data['Price'].sum()

In [13]:
summary_df = pd.DataFrame({"Total Unique Items": [unique_items],
                              "Average Price": [price_mean],
                              "Number of Purchases": [count_purchases],
                              "Total Revenue": total_revenue})
summary_df

   Total Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179       3.050987                  780        2379.77

In [20]:
#get the percentage and count of Male Players
# Create a group based on the values in the 'maker' column
#make_groupby = data.groupby('Gender')

# Count how many times each maker appears in our group
#count_males = make_groupby['Gender'].count()

#count_males
#I tried using usong the groupby.. how come when I use groupby I get different numbers?

groupby = data.groupby(['Gender']).sum()

# The object returned is a "GroupBy" object and cannot be viewed normally...


# In order to be visualized, a data function must be used...

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(groupby)

# In order to be visualized, a data function must be used...
groupby.count().head(10)

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60698  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

Purchase ID    3
Age            3
Item ID        3
Price          3
dtype: int64